<ion-header>
  <ion-toolbar>
    <div slot="start" class="word-back-icon">
      <ion-icon
        color="primary"
        name="arrow-back"
        (click)="goBack()"
        size="large"></ion-icon>
    </div>
    <ion-title>Word Lookup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" offset-md="3">
        <ion-card>
          <ion-card-content>
            <div class="word-input-container">
              Enter a three-letter combination in the box below to
              obtain a corresponding list of words.
            </div>
            <div class="word-input-container">
              <form #f="ngForm" (ngSubmit)="onLetterSubmit()">
                <ion-input
                  [(ngModel)]="letterInput"
                  (ngModelChange)="clearWordList()"
                  type="text"
                  id="letterInput"
                  name="letterInput"
                  class="word-input"
                  minlength="3"
                  maxlength="3"
                  required
                  #letterCtrl="ngModel">
                </ion-input>
                  <ion-label *ngIf="!letterCtrl.valid && letterCtrl.touched">
                    Please enter three letters.
                  </ion-label>
                <ion-button
                  class="word-go-button"
                  type="submit"
                  size="small"
                  shape="round"
                  color="primary"
                  [disabled]="!f.valid">Go</ion-button>
              </form>
            </div>
          </ion-card-content>
        </ion-card>

        <div *ngIf="wordList.length && letterInput; else emptyList">
          <ion-card>
            <ion-item lines="none">
              <ion-label>
                Results: {{ wordList.length }}
              </ion-label>
            </ion-item>
          </ion-card>

          <ion-card>
            <ion-item *ngFor="let item of wordList">
              <ion-label>{{item}}</ion-label>
            </ion-item>
          </ion-card>
        </div>

        <ng-template #emptyList>
          <ion-card *ngIf="!wordList.length && letterInput && showMsg">
            <ion-card-content class="ion-text-center">
              {{ resMsg }} <br />
              <ion-icon class="word-sad-icon" color="primary" name="sad"></ion-icon>
            </ion-card-content>
          </ion-card>
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
