<ion-header>
  <ion-toolbar>
    <div slot="start" class="word-back-icon">
      <ion-icon
        color="primary"
        name="arrow-back"
        (click)="goBack()"
        size="large"></ion-icon>
    </div>
    <ion-title>Word Lookup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" offset-md="3">
        <ion-card>
          <ion-card-content>
            <div class="word-input-container">
              Enter a three-letter combination in the box below to
              obtain a corresponding list of words.
            </div>
            <div class="word-input-container">
              <form #form="ngForm" (ngSubmit)="onLetterSubmit()">
                <input [(ngModel)]="letterInput" (ngModelChange)="clearWordList()" type="text" id="letterInput"
                  name="letterInput" class="word-input" />
                <ion-button class="word-go-button" type="submit" size="small" shape="round" color="primary">Go</ion-button>
              </form>
            </div>
          </ion-card-content>
        </ion-card>

        <ion-card *ngIf="wordList.length && letterInput; else emptyList">
          <ion-item *ngFor="let item of wordList">
            <ion-label>{{item}}</ion-label>
          </ion-item>
        </ion-card>

        <ng-template #emptyList>
          <ion-card *ngIf="!firstEntry && letterInput && showMsg">
            <ion-card-content class="ion-text-center">
              We don't have any words for those letters <br />
              <ion-icon class="word-sad-icon" color="primary" name="sad"></ion-icon>
            </ion-card-content>
          </ion-card>
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
