@font-face {
  font-family: LicensePlate;
  src: url(../../../fonts/LicensePlate.ttf);
}

.word-license-header {
  content: " ";
  margin: auto;
  position: relative;
}

.word-skip-button {
  position: absolute;
  right: 0;
}

.word-start-message {
  margin: auto;
  padding-top: 10px;
  text-align: center;
}

.word-license-image {
  margin: auto;
  max-width: 300px;
  position: relative;

  span {
    font-family: LicensePlate;
    left: 13%;
    position: absolute;
    top: 21%;
  }
}

.word-license-footer {
  margin: auto;
  padding-top: 10px;
  position: relative;
}
