@font-face {
  font-family: LicensePlate;
  src: url(../../../fonts/LicensePlate.ttf);
}

.word-license-header {
  margin: auto;
  position: relative;
  width: 365px;
}

.word-skip-button {
  position: absolute;
  right: 0;
}

.word-license-image {
  background-image: url(../../../assets/licensePlates/CA-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: LicensePlate;
  font-size: 52pt;
  height: 150px;
  margin: auto;
  padding-top: 50px;
  position: relative;
  text-align: center;
  top: 21px;
  width: 300px;
}

.word-license-footer {
  
}
