<div>
  <div class="word-license-header">
    <ion-button
      shape="round"
      size="small"
      fill="outline">
      Score: {{successes}}/{{attempts}}
    </ion-button>

    <ion-button
      class="word-skip-button"
      size="small"
      shape="round"
      (click)="stop()">Stop
    </ion-button>
  </div>

  <div class="word-license-image">
    <img src="../../../assets/licensePlates/{{imageNumber}}.png"/>
    <span
      *ngIf="hasStarted"
      [style.font-size.pt]="viewPortWidth < minViewPortWidth ? smallFontSize : largeFontSize">
        {{letters[currentIndex]}} {{licenseNumber}}
    </span>
  </div>

  <div *ngIf="!hasStarted" class="word-start-message">
    Click the start button to begin!
    <p>
      <ion-button size="small" shape="round" color="primary" (click)="startGame()">Start</ion-button>
    </p>
  </div>

 <div *ngIf="hasStarted" class="word-license-footer">
   <app-word-timer
      color="#091c82"
      fill="solid"
      shape="round"
      startTime="20000"
      (timesUp)="skip()"></app-word-timer>

      <ion-button
        class="word-skip-button"
        size="small"
        shape="round"
        fill="outline"
        (click)="skip()">Skip</ion-button>
  </div>

  <div *ngIf="hasStarted" class="word-input-container">
    <form #form="ngForm" (ngSubmit)="onWordSubmit()">
      <input [(ngModel)]="wordInput" type="text" id="wordInput" name="wordInput" class="word-input"/>
      <ion-button type="submit" size="small" shape="round" color="primary">Go</ion-button>
    </form>
  </div>
</div>
