:host {
  left: 50%;
  position: fixed;
  top: 3%;
  transform: translateX(-50%);
  width: 80%;
  z-index: 9998 !important;
}

.alert {
  background-color: var(--ion-color-dark);
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 10px;

  .close {
    color: blue;
  }
}

.alert-success {
}

.alert-warning {
}

.alert-danger {
}

.alert-info {
  background-color: var(--ion-color-light);
  color: black;
}

@media screen and (min-width: 480px) {
  :host {
    width: 380px;
  }
}
