// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.word-info-text {
  border-radius: 15px;
  border: 1px solid var(--ion-color-primary);
  display: flex;
  margin: 0 auto 10px;
  padding: 0.8em;
  width: 80%;

  div {
    flex: 0 1 auto;
  }

  .word-info-child {
    margin: 5px 0 0 10px ;
  }
}
