// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-content {
  --background: #3d7bee url("assets/bg.png") no-repeat center center / cover;
}

.word-back-icon {
  margin-left: 10px;
  margin-top: 3px;
}

.word-card-icon {
  margin-right: 5px;
}

.word-input-container {
  text-align: center;

  .word-input {
    border-color: var(--ion-color-primary);
    border-width: 0 0 2px 0;
    border-style: solid;
    margin: 10px 15px 0;
    padding: 5px;
  }
}
