@font-face {
    font-family: LicensePlate;
    src: url(../../fonts/LicensePlate.ttf);
}

.word-menu-container {
    position: relative;
    top: 13%;
}

.word-menu-content {
  padding-top: 30px;
  padding-bottom: 40px;
}

.word-title {
    color: var(--ion-color-primary);
    font-family: LicensePlate;
    font-size: 4em;
    margin-bottom: 30px;
}

.word-menu-button {
    margin: auto;
    width: 50%;
    position: relative;

    ion-button {
        margin-bottom: 10px;
    }
}
