
ion-content {
    top: 20%;
}

.word-title {
    color: var(--ion-color-primary);
    font-size: 20pt;
    margin-bottom: 50px;
}

.word-menu-button {
    margin: auto;
    width: 50%;

    ion-button {
        margin-bottom: 10px;
    }
}
