<ion-content padding text-center>
  <div class="word-title">
    Word License
  </div>

  <div class="word-menu-button">
    <ion-button
      routerLink="/play"
      color="primary"
      shape="round"
      expand="block">
      Play
    </ion-button>
    <ion-button
      routerLink="/instructions"
      color="primary"
      shape="round"
      expand="block">
      Instructions
    </ion-button>
    <ion-button
      routerLink="/about"
      color="primary"
      shape="round"
      expand="block">
      About
    </ion-button>
  </div>
</ion-content>
