:host {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 9997 !important;
}

.word-progress-text {
  margin-bottom: 10px;
}

.word-progress-card {
  margin: auto;
  top: 20%;
  width: 300px;
}

.wl-dot {
  animation: fade 1.5s linear forwards;
  -webkit-animation: fade 1.5s linear forwards;
  -moz-animation: fade 1.5s linear forwards;
  -o-animation: fade 1.5s linear forwards;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  background: var(--ion-color-primary);
  border-radius: 50px;
  display: inline-block;
  height: 15px;
  width: 15px;
}

.wl-dot-animate2 {
  animation: fade 1.5s linear 0.5s forwards;
  -webkit-animation: fade 1.5s linear 0.5s forwards;
  -moz-animation: fade 1.5s linear 0.5s forwards;
  -o-animation: fade 1.5s linear 0.5s forwards;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  margin-left: 3px;
}

.wl-dot-animate3 {
  animation: fade 1.5s linear 1s forwards;
  -webkit-animation: fade 1.5s linear 1s forwards;
  -moz-animation: fade 1.5s linear 1s forwards;
  -o-animation: fade 1.5s linear 1s forwards;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  margin-left: 3px;
}

@keyframes fade {
  0%   {opacity:0;}
  50%   {opacity:1;}
  100% {opacity:0;}
}

  @-webkit-keyframes fade {
  0%   {opacity:0;}
  50%   {opacity:1;}
  100% {opacity:0;}
}

  @-moz-keyframes fade {
  0%   {opacity:0;}
  50%   {opacity:1;}
  100% {opacity:0;}
}

  @-o-keyframes fade {
  0%   {opacity:0;}
  50%   {opacity:1;}
  100% {opacity:0;}
}
